@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url("/app-background.avif");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat::-webkit-scrollbar{
    display: none;

}

.loading:disabled{
    cursor: not-allowed;
    background-color: blanchedalmond;
}

.message{
    max-width: 100%;
    &.owner{
        align-self: flex-end;

        image{
            display: none;
        }
        

        p{
            background-color: blue;
            color: white;
            padding: 10px;
            border-radius: 15px;
        }
    }
}
